<style>
    .layui-input-many {
        margin-bottom:5px;:
    }
</style>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body">

                    <blockquote class="layui-elem-quote layui-text" id="navTitle"></blockquote>
                    <div class="layui-card-header">
                        <a href="javascript:history.go(-2);" class="layui-btn layui-btn-sm">
                            <i class="layui-icon">&#xe65a;</i>
                            <span>返回</span>
                        </a>
                    </div>

                    <div class="layui-card-body">

                        <form class="layui-form">

                            <!--课程名称-->
                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">课程名称</label>
                                <div class="layui-input-block ">
                                    <select name="course_id" lay-filter="courseTitle">
                                        {volist name="Course" id="c"}
                                            <option value="{$c.id}" title="{$c.code}">{$c.title}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>

                            <!--课程代码-->
                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">课程代码</label>
                                <div class="layui-input-block">
                                    <input type="number" name="code" id="courseCode" readonly value="{$Course.0.code}" lay-verify="required|number" autocomplete="off" placeholder="设置课程代码" class="layui-input">
                                </div>
                            </div>

                            <!--考题分类-->
                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">考题分类</label>
                                <div class="layui-input-block ">
                                    <select name="mold_id" lay-filter="moldTitle">
                                        {volist name="Mold" id="m"}
                                            <option value="{$m.id}">{$m.title}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>

                            <!--考题题目-->
                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">考题题目</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" lay-verify="required|title" autocomplete="off" placeholder="设置考题题目" class="layui-input">
                                </div>
                            </div>

                            <!--答案选项[单]-->
                            <div class="layui-form-item layui-input-md" id="singleChoice">
                                <label class="layui-form-label">答案选项</label>
                                <div class="layui-input-block ">
                                    <div class="custom-input-block">
                                        <label class="custom-form-label">A. </label>
                                        <input type="text" name="choice[]" lay-verify="required|title" autocomplete="off" placeholder="设置答案选项" class="layui-input custom-input-style">
                                    </div>
                                    <div class="custom-input-block">
                                        <label class="custom-form-label">B. </label>
                                        <input type="text" name="choice[]" lay-verify="required|title" autocomplete="off" placeholder="设置答案选项" class="layui-input custom-input-style">
                                    </div>
                                    <div class="custom-input-block">
                                        <label class="custom-form-label">C. </label>
                                        <input type="text" name="choice[]" lay-verify="required|title" autocomplete="off" placeholder="设置答案选项" class="layui-input custom-input-style">
                                    </div>
                                    <div class="custom-input-block">
                                        <label class="custom-form-label">D. </label>
                                        <input type="text" name="choice[]" lay-verify="required|title" autocomplete="off" placeholder="设置答案选项" class="layui-input custom-input-style">
                                    </div>
                                </div>
                            </div>

                            <!--正确答案[单]-->
                            <div class="layui-form-item layui-input-md" id="singleAnswer">
                                <label class="layui-form-label">正确答案[单]</label>
                                <div class="layui-input-block ">
                                    <input type="radio" name="correct" value="A" title="A">
                                    <input type="radio" name="correct" value="B" title="B">
                                    <input type="radio" name="correct" value="C" title="C">
                                    <input type="radio" name="correct" value="D" title="D">
                                </div>
                            </div>

                            <!--答案选项[多]-->
                            <div class="layui-form-item layui-input-md" id="multipleChoice" style="display:none">
                                <label class="layui-form-label">答案选项</label>
                                <div class="layui-input-block ">
                                    <div class="custom-input-block">
                                        <label class="custom-form-label">A. </label>
                                        <input type="text" name="" lay-verify="" autocomplete="off" placeholder="设置答案选项" class="layui-input custom-input-style">
                                    </div>
                                    <div class="custom-input-block">
                                        <label class="custom-form-label">B. </label>
                                        <input type="text" name="" lay-verify="" autocomplete="off" placeholder="设置答案选项" class="layui-input custom-input-style">
                                    </div>
                                    <div class="custom-input-block">
                                        <label class="custom-form-label">C. </label>
                                        <input type="text" name="" lay-verify="" autocomplete="off" placeholder="设置答案选项" class="layui-input custom-input-style">
                                    </div>
                                    <div class="custom-input-block">
                                        <label class="custom-form-label">D. </label>
                                        <input type="text" name="" lay-verify="" autocomplete="off" placeholder="设置答案选项" class="layui-input custom-input-style">
                                    </div>
                                    <div class="custom-input-block">
                                        <label class="custom-form-label">E. </label>
                                        <input type="text" name="" lay-verify="" autocomplete="off" placeholder="设置答案选项" class="layui-input custom-input-style">
                                    </div>
                                </div>
                            </div>

                            <!--正确答案[多]-->
                            <div class="layui-form-item layui-input-md" id="multipleAnswer" style="display:none">
                                <label class="layui-form-label">正确答案[多]</label>
                                <div class="layui-input-block ">
                                    <input type="checkbox" name="" value="A" title="A">
                                    <input type="checkbox" name="" value="B" title="B">
                                    <input type="checkbox" name="" value="C" title="C">
                                    <input type="checkbox" name="" value="D" title="D">
                                    <input type="checkbox" name="" value="E" title="E">
                                </div>
                            </div>

                            <!--正确答案[判]-->
                            <div class="layui-form-item layui-input-md" id="judgeAnswer" style="display:none">
                                <label class="layui-form-label">正确答案[判]</label>
                                <div class="layui-input-block ">
                                    <input type="radio" name="" value="A" title="对">
                                    <input type="radio" name="" value="B" title="错">
                                </div>
                            </div>

                            <!--答案解析-->
                            <div class="layui-form-item layui-input-bg">
                                <label class="layui-form-label">答案解析</label>
                                <div class="layui-input-block">
                                    <textarea id="editor" name="analysis" placeholder="请输入答案解析内容" lay-verify="required"></textarea>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="form_submit">立即提交</button>
                                </div>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--上传文件引入文件-->
{load href="/static/plugin/jquery/jquery-3.1.1.js" /}
{load href="/static/plugin/aoupload/css/globle.css" /}
{load href="/static/plugin/aoupload/js/webuploader.min.js" /}
{load href="/static/plugin/aoupload/js/diyUpload.js" /}
{load href="/static/plugin/kind/kind-all-min.js" /}

<script>
  layui.use(['form', 'layedit', 'route'], function() {
    var $ = layui.jquery,
        form = layui.form,
        route = layui.route,
        layer = layui.layer;

    //设置nav标题
    $("#navTitle").text(route.getRoute().name);

    form.render();

    //自定义验证规则
    form.verify({
        title: function(value) {
            if (value.length < 1 || value.length > 255) {
                return '文字长度应在1-255个字符之间';
            }
        }
    });

    //监听改变课程代码
    form.on('select(courseTitle)',function(data){
        var codeVal = $(data.elem).find("option:selected").attr("title");
        $("#courseCode").val(codeVal)
    });

    form.on('select(moldTitle)',function(data){
      if(data.value == 1){
            $("#singleChoice").show().find('input').attr('name','choice[]').attr('lay-verify','required|title');
            $("#singleAnswer").show().find('input').attr('name','correct');
            $("#multipleChoice").hide().find('input').attr('name','').attr('lay-verify','');
            $("#multipleAnswer").hide().find('input').attr('name','');
            $("#judgeAnswer").hide().find('input').attr('name','');
      }else if(data.value == 2){
            $("#singleChoice").hide().find('input').attr('name','').attr('lay-verify','');;
            $("#singleAnswer").hide().find('input').attr('name','');
            $("#multipleChoice").show().find('input').attr('name','choice[]').attr('lay-verify','required|title');
            $("#multipleAnswer").show().find('input').attr('name','correct[]');
            $("#judgeAnswer").hide().find('input').attr('name','');
      } else if(data.value == 3){
            $("#singleChoice").hide().find('input').attr('name','').attr('lay-verify','');
            $("#singleAnswer").hide().find('input').attr('name','');
            $("#multipleChoice").hide().find('input').attr('name','').attr('lay-verify','');
            $("#multipleAnswer").hide().find('input').attr('name','');
            $("#judgeAnswer").show().find('input').attr('name','correct');
      }else{
            $("#singleChoice").hide().find('input').attr('name','').attr('lay-verify','');
            $("#singleAnswer").hide().find('input').attr('name','');
            $("#multipleChoice").hide().find('input').attr('name','').attr('lay-verify','');
            $("#multipleAnswer").hide().find('input').attr('name','');
            $("#judgeAnswer").hide().find('input').attr('name','');
      }
    });

    //监听提交
    form.on('submit(form_submit)', function(data) {

        $.post("/aoogi/questions",data.field,function(res){
            layer.msg(res.msg);
            /*if(res.url != "")
                window.location.href = "#" + res.url;*/
        });
        return false;
    });

      //实例化KindEditor编辑器
      KindEditor.create($('#editor'), {
          allowImageRemote: false,
          basePath: '/static/plugin/kind/',
          themesPath: '/static/plugin/kind/themes/',
          pluginsPath: '/static/plugin/kind/plugins/',
          langPath: '/static/plugin/kind/lang/',
          uploadJson: '/uploader',
          filePostName: 'file',    //imgFile是编辑器中图片上传的默认表单域名称
          width: '100%',
          minHeight: 400,    //最小高度，不用写px单位
          resizeType: 1,     //2时可以拖动改变宽度和高度，1时只能改变高度，0时不能拖动。
          allowImageUpload: true,       //允许本地上传图片
          extraFileUploadParams: '',       //上传图片、Flash、视音频、文件时，支持添加别的参数一并传到服务器
          afterBlur: function () {
              //编辑器失去焦点时，同步编辑器中的内容到textarea，在异步提交内容的时候，必须写！否则textarea中的值是不会改变的
              this.sync();
          }

      });

  });
</script>

