<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body">

                    <blockquote class="layui-elem-quote layui-text" id="navTitle"></blockquote>
                    <div class="layui-card-header">
                        <a href="javascript:history.go(-2);" class="layui-btn layui-btn-sm">
                            <i class="layui-icon">&#xe65a;</i>
                            <span>返回</span>
                        </a>
                    </div>

                    <div class="layui-card-body">

                        <form class="layui-form">

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">课程代码</label>
                                <div class="layui-input-block">
                                    <input type="number" name="code" lay-verify="required|number|code1|code2" autocomplete="off" placeholder="设置课程代码" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">课程名称</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" lay-verify="required|title" autocomplete="off" placeholder="设置课程名称" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-md">
                                <label class="layui-form-label">课程分类</label>
                                <div class="layui-input-block ">
                                    <select name="classify_id">
                                        {volist name="Classify" id="c"}
                                            <option value="{$c.id}">{$c.title}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item layui-input-bg">
                                <label class="layui-form-label">考题类型</label>
                                <div class="layui-input-block ">
                                    {volist name="Mold" id="m"}
                                        <input type="checkbox" name="mold_id[{$m.id}]" value="{$m.id}" title="{$m.title}">
                                    {/volist}
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="form_submit">立即提交</button>
                                </div>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
  layui.use(['form', 'layedit', 'route'], function() {
    var $ = layui.jquery,
        form = layui.form,
        route = layui.route,
        layer = layui.layer;

    //设置nav标题
    $("#navTitle").text(route.getRoute().name);

    form.render();

    //自定义验证规则
    form.verify({
        title: function(value) {
            if (value.length < 1 || value.length > 25) {
                return '课程名称名称长度应在1-25个字符之间';
            }
        },
        code1: [/^[0-9]*$/, '类型代码设置有误；例：00182'],
        code2: function(value) {
            if (value.length > 6) {
                return '类型代码设置有误；例：00182';
            }
        },


    });

    //监听提交
    form.on('submit(form_submit)', function(data) {
        $.post("/aoogi/course",data.field,function(res){
            layer.msg(res.msg);
            if(res.url != "")
                window.location.href = "#" + res.url;
        });
        return false;
    });

  });
</script>

